# Bỏ qua thư mục môi trường ảo Python
.venv/
# Bỏ qua thư mục data/raw chứa dữ liệu thô
data/
# Bỏ qua file mô hình đã huấn luyện
models/
# Bỏ qua file cấu hình của Weights & Biases
wandb/
# Bỏ qua thư mục cache của Python
__pycache__/
*.pyc
# Bỏ qua file chứa API keys hoặc thông tin nhạy cảm
key.txt
report.txt
# Bỏ qua file hướng dẫn
CHUNKING_STRATEGY_GUIDE.md
training_parameters_guide.md
# Bỏ qua file .env chứa biến môi trường
.env
# Bỏ qua 2 file docx báo cáo, chỉ để lại file PDF
Báo cáo tiến độ thực hiện Project 3.docx
NGUYỄN VIỆT ANH-20215307_BÁO CÁO PROJECT3_Final.docx
